p{
    font-weight: lighter;
    font-size: 17px;
    color: rgb(0, 0, 0);
    border-style: double;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#top{
    text-decoration: underline;
}

.emphasizedText{
    font-style: italic;
    color:#000000;
    border-style: double;
}

body{
    background-image: url(/assets/img/trees.jpeg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 5px solid rgb(235, 255, 236);
    margin:20px;
    padding: 30px;
    text-align: left;
}

.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}